.profile {
	color: white;
	text-decoration: none;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile__title {
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;
	margin-top: 74px;
	margin-bottom: 123px;
}

.profile_section {
	width: 410px;
	border-bottom: 1px solid #424242;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.profile_navsection {
	margin-top: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.profile_section:nth-of-type(2n) {
	border-bottom: none;
}

.profile__user-text {
	font-size: 11px;
	line-height: 13px;
}

.profile__button {
	font-size: 13px;
	line-height: 16px;
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: white;
	margin-bottom: 16px;
}

.profile__button_type-red {
	color: #ee3465;
}

.profile__button:hover {
	opacity: 0.8;
	cursor: pointer;
}
.profile__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile__submit-button {
	background-color: rgba(66, 133, 244, 1);
	border: none;
	width: 410px;
	height: 45px;
	margin: 20px 0 0;
	color: white;
	border-radius: 3px;
	padding: 0;
}

.profile__submit-button:disabled {
	opacity: 0.6;
}

.profile__submit-button:hover {
	opacity: 0.8;
	cursor: pointer;
}

.profile__error {
	color: rgba(238, 52, 101, 1);
	margin: 189px auto 0;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	width: 460px;
	text-align: center;
}

.profile__input {
	background: none;
	color: white;
	border: none;
	text-align: end;
	border-radius: 3px;
	border: none;
	font-size: 11px;
	line-height: 13px;
}

.profile__input:focus {
	outline: none;

	border-bottom: 3px solid rgba(139, 139, 139, 1);
}

.profile__sucsess-cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: (0, 0, 0, 0.5);
}

.profile__sucsess-message {
	position: relative;
	background-color: #202020;
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	width: 460px;
	color: white;
	padding: 50px;
	margin: 250px auto;
	border: 1px solid #424242;
	border-radius: 6px;
}

.profile__sucsess__close-button {
	width: 22px;
	height: 22px;
	padding: 0;
	background-image: url('../../images/close.svg');
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #202020;
	align-self: flex-end;
	position: absolute;
	top: 10px;
	right: 10px;
}

.profile__sucsess__close-button:hover {
	opacity: 0.8;
}

@media screen and (max-width: 605px) {
	.profile_section {
		width: 260px;
	}

	.profile__submit-button {
		width: 260px;
	}

	.profile__sucsess-message {
		font-size: 20px;
		line-height: 25px;
		width: 260px;
		padding: 50px 0px 50px;
	}

	.profile__error {
		width: 260px;
	}
}
