.account_button {
	display: flex;
	flex-direction: row;
	vertical-align: middle;
}

.account__icon {
	background-color: #313131;
	width: 11.5px;
	height: 14px;
	padding: 8px;
	border-radius: 3px;
	margin-left: 17px;
}

@media screen and (max-width: 768px) {
	.account_button__header {
		display: none;
	}
}
